<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Job - {{ job.title }}</title>
    
    <!-- Include Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>APPLY FOR JOB - {{ job.title }}</h1>
        <form method="post" action=".">
            {% csrf_token %}

            {% if form.errors %}
                {% for error in form.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="form-group">
                <label for="short_description">Content</label>
                <div>
                    <textarea id="short_description" name="short_description" class="form-control"></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label for="long_description">Experience</label>
                <div>
                    <textarea id="long_description" name="long_description" class="form-control"></textarea>
                </div>
            </div>
        
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Include Bootstrap JS and jQuery (if needed) here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
