<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details</title>
    
    <!-- Include Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 p-4 border rounded">
        <h1 class="border-bottom pb-3">{{ job.title }}</h1>
        <p class="border-bottom pb-3">{{ job.short_description }}</p>
        <p>{{ job.long_description }}</p>
        <a href="{% url 'applyjob' job.id %}" class="btn btn-primary">Apply</a>
    </div>

    <!-- Include Bootstrap JS and jQuery (if needed) here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
